# Libraries

In [39]:
import requests
from bs4 import BeautifulSoup
import csv
from datetime import datetime
from lxml import etree
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from time import sleep
import re
from docx import Document
import pandas as pd

# Text transformations

## All documents LOOP

In [17]:
#Open all documents and store the path in a list
document_list = []
for i in range(9):
    document = Document('data/raw/Podcast_9{}.docx'.format(i))
    document_list.append(document)

In [18]:
#extract headings
def iter_headings(paragraphs):
    for paragraph in paragraphs:
        if paragraph.style.name.startswith('Heading'):
            yield paragraph

In [106]:
#Big LOOP for all documents
heading_list_big = []
extracted_text_big = []
gamesDict_big = []

results = pd.DataFrame()

for z in document_list:
    
    # Create an empty list for all headings
    heading_list = []
    
    # Extraction headings from this document
    for heading in iter_headings(z.paragraphs):
        heading_list.append(heading.text)

    # Remove the intro and outro
    heading_list = heading_list[1:-1]
    
    text_lines = []

    for i,para in enumerate(z.paragraphs):
        if para.text in heading_list:
            text_lines.append(i)

    #extracting text lines for games only (without intro and outro)       
    gamesText = []
    for k,j in enumerate(text_lines):
        for y, parar in enumerate(z.paragraphs):
            if y>=text_lines[k]:
                gamesText.append(parar.text)

    #creating list mapping where we get the in-text position of heading (number of line)            
    text_lines2 = [text_lines[n]-text_lines[0] for n in range(1,len(text_lines))]
    text_lines2.insert(0,0)
    
    #Removing timestamp from headings
    heading_list2 = []

    for g in heading_list:
        text = g[:-11]
        heading_list2.append(text)

    heading_list_big.append(heading_list2)
    
    #Extracting text with respect to headings: list of dialogs related to specific game
    extracted_text = []

    for d,w in zip(text_lines2,text_lines2[1:]):
        text = gamesText[d+1:w]
        extracted_text.append(text) 
    
    for game, text in zip(heading_list, extracted_text):
        for sentence in text:
            results = results.append({'game' : game, 'text': sentence}, ignore_index = True)

In [107]:
resultsOld = results.copy()

In [108]:
# Remove the timestamp once again
results['game'] = results['game'].map(lambda x: str(x)[:-11])

In [109]:
results

                     game                                               text
0     Blackout: Hong Kong  Quinns: Let’s talk briefly about Blackout: Hon...
1     Blackout: Hong Kong  Matt: And the reasons you were excited about i...
2     Blackout: Hong Kong  Quinns: This is really more of a public servic...
3     Blackout: Hong Kong  Matt: I think “exciting to try” is the key thi...
4     Blackout: Hong Kong  Quinns: If you haven’t played Great Western Tr...
...                   ...                                                ...
3470       Too Many Bones                                       Quinns: Yup.
3471       Too Many Bones                   Matt: And it’s like, cool! Good!
3472       Too Many Bones  Quinns: I mean, yeah, that’s the number one th...
3473       Too Many Bones  Matt: Yeah. And also, why do you have to be bo...
3474       Too Many Bones                     Quinns: I couldn’t agree more.

[3475 rows x 2 columns]

In [110]:
# Split the text 
new = results["text"].str.split(":", n = 1, expand = True) 
  
# Extract the person speaking
results["person"] = new[0] 
  
# And what they are saying
results["text"] = new[1] 

# Drop if the formating was off
results.dropna(inplace = True)

# Just a preacusion
results[results['person'].map(len) < 12]

# Remove the part after their name
results["person"] = results["person"].str.split(" ", n = 1, expand = True)[0]

In [111]:
results.person.unique()

array(['Quinns', 'Matt', 'Quinn', 'Kylie', 'This', 'And', 'Audience'],
      dtype=object)

In [120]:
# Remove "This" and "And"
results = results[(results['person'] != 'This') & (results['person'] != 'And')]

In [121]:
results.person.unique()

array(['Quinns', 'Matt', 'Quinn', 'Kylie', 'Audience'], dtype=object)

In [123]:
results.game.unique()

array(['Blackout: Hong Kong', 'Just One', 'Sumer',
       'The Quacks of Quedlinburg', 'Schummel Hummel', 'The Thing',
       'Pipeline', 'Wingspan', 'Twilight Imperium stream plug',
       'Chronicles of Crime', 'Franchise', 'Woodlouse Chaos',
       'Pearple’s Choice Awards - Intro',
       'Pearple’s Choice Awards - Best Game of 2018',
       'Pearple’s Choice Awards - Best Expansion Released in 2018',
       'Pearple’s Choice Awards - Best Kickstarter Delivered in 2018',
       'Pearple’s Choice Awards - Best Game Production of 2018',
       'Pearple’s Choice Awards - Most Unique/Original Concept of 2018',
       'Pearple’s Choice Awards - Best Digital Board Game App of 2018',
       'Pearple’s Choice Awards - Erik Tengblad Award for Best Game of the Previous Year I Only Got to Play for the First Time in 2018',
       'Pearple’s Choice Awards - Best Game of Any Previous Year that I Only Got to Play for the First Time this Year',
       'Pearple’s Choice Awards - Best Designer as of 2018',
       'New Frontiers', 'Kemet', 'Kemet: Seth',
       'Kemet: Ta-Seti and general', 'Altiplano: The Traveler',
       'The Quest for El Dorado', 'Blood on the Clocktower', 'Corinth',
       'A Feast For Odin: The Norwegians',
       'Space Base: The Emergence of Shy Pluto', 'Monolith Arena',
       'Alone', 'Watson & Holmes',
       'Escape from the Aliens in Outer Space', 'Bourré', 'Gùgōng',
       'Chinatown', 'Hansa Teutonica', 'Deep Blue', 'Auto',
       'Flamme Rouge expansion', 'That’s Not Lemonade', 'Midlife Crisis',
       'Res Arcana', 'Dice Throne', 'Insider', 'Three Kingdoms Redux',
       'That’s Not Lemonade (Revisited)', 'Isle of Skye: Druids',
       'Batman: Gotham City Chronicles',
       'Chronicles of Crime (Revisited)', 'Stay Cool',
       'Power Rangers: Heroes of the Grid', 'Letter Jam',
       'Welcome to Dino World', 'Rome and Roll', 'Taverns of Tiefan Thal',
       'Carpe Diem', 'Luxor', 'Silk', 'Pandemic: Rapid Response',
       'Rail Pass', 'Crokinole', 'Too Many Bones'], dtype=object)

## Webscrapping

In [445]:
headers = {'User-Agent': 'Text mining'}

# Construct the results table
boardgameList = ['Just One']
listhashed = [i.replace(' ', '%20') for i in boardgameList]
summaryTable = pd.DataFrame()

for j in listhashed:
    # Load the webpage
    
    r = requests.get('https://boardgamegeek.com/geeksearch.php?action=search&objecttype=boardgame&q={}'.format(j), headers=headers)
    
    # Convert to BS
    bs = BeautifulSoup(r.text)
    
    # Find the right table
    table = bs.findAll(lambda tag: tag.name=='table' and tag.has_attr('cellpadding'))
    #mydivs = bs.findAll("div", {"class": "table-responsive"})
    errors = bs.findAll(text="No Items Found")
   
    if not errors:
           
        tableHTML = table[0]
        #tableHTML = mydivs[0]
        # Convert the HTML of the table to pandas (very usefull function)
        pandasTable = pd.read_html(str(tableHTML), header=0)[0]

        # Extract all the links
        urls = [np.where(tag.has_attr('href'),tag.get('href'),"no link") for tag in tableHTML.find_all('a')]
        urls = pd.DataFrame(urls)
        urls = urls[0][6]

        # Merge the links into the DF
        pandasTable['link'] = urls

        # Drop unused columns
        pandasTable = pandasTable.drop(['Unnamed: 1', 'Shop'], axis = 1)

        # Create or extend the existing summary table
        if summaryTable.empty:
            summaryTable = pandasTable
        else:
            summaryTable = pd.concat([summaryTable, pandasTable],ignore_index=True)
    else:
        next

In [442]:
display(summaryTable)

,Board Game Rank,Title,Geek Rating,Avg Rating,Num Voters,link
0,264.0,Just One (2018),7.128,7.60,4834,/boardgame/254640/just-one
1,NaN,Port Royal: Just One More Contract... (2015),6.543,7.53,1424,/boardgame/254640/just-one
2,NaN,Just One Die Soccer (2009),NaN,1.00,1,/boardgame/254640/just-one
3,NaN,Just One: Deutscher Spielepreis Classic Goodie...,NaN,5.83,3,/boardgame/254640/just-one
4,NaN,Just One: Gathering of Friends Promo Cards (2019),NaN,7.00,3,/boardgame/254640/just-one
5,NaN,Cocks Abreast Hostility: Cock Pack One – Just ...,NaN,8.00,6,/boardgame/254640/just-one

In [ ]:
# Loading the firefox webdriver
driver = webdriver.Chrome('/Users/korneliusz.krysiak/Dropbox/TextMining/chromedriver')

In [19]:
# Construct the results table
detailedTable = pd.DataFrame(columns=['Title','Average Rating','Number of ratings','Std.dev','Number of Comments','Fans','Page Views','Overall Ranking','All Time Plays','Played This Month', 'Own', 'Previously Owned','For Trade','Want in Trade','Wishlist','Has Parts','Want Parts'])
detailedTable2 = pd.DataFrame()

for j in range(1):
    # Load the webpage
    driver.get('https://boardgamegeek.com{}/stats'.format(summaryTable['link'][j]))
    
    # Get the source code and make it BS
    pageSource = driver.page_source
    bs = BeautifulSoup(pageSource, "lxml")
    
    # Find the relevant table
    data = bs.findAll('div',{'class':'outline-item-description'})
    
    # Loop over and strip spaces
    data2 = []
    for i in data:
        data2.append(i.get_text().strip())

    # Remove the ',' 
    for i in range(len(data2)):
        data2[i] = data2[i].replace(",","")

    # Wrangle the columns
    data2[3] = data2[3][0:4]
    data2[0] = float(data2[0])
    data2[1] = int(data2[1]) 
    data2[2] = float(data2[2])
    data2[3] = float(data2[3]) 

    # Convert to int
    for i in range(len(data2[4:])+1):
        i = i+3
        data2[i] = int(data2[i])

    # Special case - two categories. We want to drop both
    if len(data2) == 19:
        data2.pop(8)
        data2.pop(8)
    else:
        data2.pop(8)
    
    # Insert the data
    data2.insert(0,summaryTable['Title'][j]) 
    detailedTable.loc[len(detailedTable)] = data2

In [21]:
display(detailedTable)

,Title,Average Rating,Number of ratings,Std.dev,Number of Comments,Fans,Page Views,Overall Ranking,All Time Plays,Played This Month,Own,Previously Owned,For Trade,Want in Trade,Wishlist,Has Parts,Want Parts
0,Stay Cool (2019),7.173,102,1.35,1,17,8,7121,6336,23,149,1,0,31,172,0,1

In [ ]:
# twoja kolej Michal